* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: aliceblue;
}

.title {
  text-align: center;
}

.main-content {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.scores-container {
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.scores-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#leaderboard {
  display: flex;
  flex-direction: column;
}

tbody {
  border-bottom: 2px solid black;
  padding: 5px;
}

.add-scores-container {
  display: flex;
  flex-direction: column;
}

button {
  height: 20px;
  align-self: center;
  background-color: antiquewhite;
  box-shadow: 3px 3px black;
}

#leaderboardInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

input {
  padding: 5px;
}
