.title {
  margin-left: 15%;
  margin-bottom: 50px;
}

.main-content {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.left-heading {
  display: flex;
  justify-content: space-between;
}

.scores-container {
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

table {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.add-scores-container {
  display: flex;
  flex-direction: column;
}

button {
  height: 20px;
  align-self: center;
}
